<!-- Toggle recolher -->
<button class="btn-recolher" (click)="toggleRecolher()" [title]="recolhido ? 'Expandir menu' : 'Recolher menu'">
  <i [class]="recolhido ? 'fa-solid fa-chevron-right' : 'fa-solid fa-chevron-left'"></i>
</button>


@if (!recolhido) {
  @if(tabSelecionada == tabsType.ListagemEstabelecimento){
    <app-estabelecimento-filtrar-sidebar
      [lugarSelecionado]="lugarSelecionado"
      (lugarClick)="selecionarLugar($event)"
      (lugaresFiltradosChange)="lugaresFiltradosChange.emit($event)"
      (localizacaoObtida)="localizacaoObtida.emit($event)"
    />
  }
  @else if(tabSelecionada == tabsType.DetalhesEstabelecimento) {
    <div style="height: 100%;"> 
      <app-estabelecimento-sidebar
        [lugar]="lugarSelecionado"
        (fechar)="fecharBottomSheet()"
      />
    </div>
  }
}

<!-- Modo recolhido: ícones de categoria na vertical -->
@if (recolhido) {
  <div class="sidebar-recolhida">
    @for (cat of categorias; track cat.id) {
      <button
        class="icone-recolhido"
        [class.ativo]="categoriaSelecionada === cat.id"
        (click)="selecionarCategoria(cat.id)"
        [title]="cat.label"
      >
        <i [class]="cat.icone"></i>
      </button>
    }
    <div class="divisor-recolhido"></div>
    <button
      class="icone-recolhido"
      [class.ativo]="apenasAcessiveis"
      (click)="toggleAcessiveis()"
      title="Somente acessíveis"
    >
      <i class="fa-solid fa-wheelchair"></i>
    </button>
  </div>
}